table {
    width: 35%;
}

table tr:nth-child(even) {
    background-color: #e3dada;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table th {
    background-color: #d3d3d3;
    color: rgb(5, 1, 1);
}

table tfoot {
    font-weight: bold;
}

.rounded-square{
    border-radius: 100px;
}
.jumbotron {
    background-color: #d3d3d3; 
}
.img-small {
    width: 300px; 
    height: 400px;
    object-fit: cover; 
    border-radius: 10px; 
  }