table {
    width: 35%;
}

table tr:nth-child(even) {
    background-color: #e3dada;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table th {
    background-color: #adcfd1;
    color: rgb(5, 1, 1);
}

table tfoot {
    font-weight: bold;
}